/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Variables Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
:root {
    /* util-toggle custom properties */
    --util-toggleThumb: rgb(255,255,255);
    --util-activeToggleWrapper: rgb(0,123,238);
    --util-inactiveToggleWrapper: rgb(56,56,56);

    /* util-dd custom properties */
    --util-dropdown-background-color: #ffffff;
    --util-dd-height: 4rem;
    --util-dd-border-color: rgb(230,230,230);
    --util-dd-highlight-color: rgb(77,195,255);

    /* util-popup custom properties */
    --util-popup-background-color: #ffffff;
    --util-popup-button-color: #fe6257;
    --util-popup-button-font-color: #f4f3f4;

   /* util-textInput custom properties */
    --util-textInput-borderColor: #757575;
    --util-textInput-activeColor: #000;
    --util-textInput-labelColor: #999;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Variables Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Toggle Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.util-toggleWrapper{
    width: 5rem;
    height: 2.5rem;
    padding: 0 2px;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    transition: all .25s;   
}

.util-activeToggleWrapper{
    background-color: var(--util-activeToggleWrapper);
}

.util-inactiveToggleWrapper{
    background-color: var(--util-inactiveToggleWrapper);
}

.util-toggleThumb{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--util-toggleThumb);
}

.util-activeToggle{
    animation: util-activeToggle 0.15s forwards;
}

@keyframes util-activeToggle {
    0%{ 
        transform: translateX(0%);
    }
    100%{ 
        transform: translateX(2.5rem); 
    }
}

.util-inactiveToggle{
    animation: util-inactiveToggle 0.15s forwards;
}

@keyframes util-inactiveToggle {
    0%{ 
        transform: translateX(2.5rem);
    }
    100%{ 
        transform: translateX(0%); 
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Toggle Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Date Picker Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.util-pickerWrapper{
    width: 100%;
    min-height: 3rem;
    font-size: 1.5rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.util-pickerHeader{
    width: 100%;
    height: 3rem;
    display: flex;
}

.util-pickerInputsWrapper{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.util-pickerToggle{
    width: 3rem;
    height: 3rem;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    
}

.util-manualDateWrapper{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.util-manualDateWrapper input{
    padding-bottom: -10px;
    border-width: 0 0 1px 0;
    background: transparent;
    text-align: center;
}
.util-monthInput{
    width: 3rem;
}

.util-dayInput{
    width: 3rem;
}

.util-yearInput{
    width: 4rem;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Date Picker Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Dropdown Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.util-dropdownDestination{
    width: 26rem;
    height: 3rem;
    position: relative;
    background-color: blue;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Dropdown Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Popup Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.util-popupBackground{
    width: 100vw;
	height: 100vh;
    top: 0;
    left: 0;
	position: absolute;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(5px);
	overflow: hidden;
}

.util-popupWrapper{
    padding: 0 5rem 2rem 5rem;
	border-radius: 5px;
	background-color: var(--util-popup-background-color);
	box-shadow: 0 .75rem 2rem rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.util-popupWrapper *{
    margin-top: 2rem;
}

.util-popupWrapper * .util-popupButton{
    margin-top: 0rem;
}

.util-popupTitle{
    font-size: 3rem;
}

.util-popupMessage{
    font-size: 1.8rem;
}

.util-popupButtonWrapper{
    width: 100%;
	display: flex;
	justify-content: space-around;
}

.util-popupButton{
	min-width: 10rem;
	height: 3rem;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	background-color: var(--util-popup-button-color);
	color: var(--util-popup-button-font-color);
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.util-popupButton:hover{
    transform: translateY(-3px);
    box-shadow: 0 .75rem 2rem rgba(0, 0, 0, .5);
}

.util-popupButton:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Popup Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Text Input Section Start
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.util-textInput-wrapper{
    position: relative;
}

.util-textInput-wrapper input{
    font-size: 16px;
    height: 3rem;
    padding: 5px 10px 4px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid var(--util-textInput-borderColor);
}

.util-textInput-wrapper input:focus{
    outline: none;
}

.util-textInput-wrapper label{
    color: var(--util-textInput-labelColor); 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
}

.util-textInput-wrapper input:focus ~ label, input:valid ~ label{
    top: -26px;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--util-textInput-activeColor);
}

.util-textInput-wrapper .util-textInput-bar{
    position: relative; 
    display: block; 
    width: 300px;
}

.util-textInput-bar:before, .util-textInput-bar:after{
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: var(--util-textInput-activeColor); 
    transition: 0.2s ease all;
}

.util-textInput-bar:before {
    left: 50%;
}

.util-textInput-bar:after {
    right: 50%; 
}

.util-textInput-wrapper input:focus ~ .util-textInput-bar:before, .util-textInput-wrapper input:focus ~ .util-textInput-bar:after {
    width: 50%;
}

.util-textInput-wrapper .util-textInput-highlight{
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.util-textInput-wrapper input:focus ~ .util-textInput-wrapper .util-textInput-highlight{
    animation: util-textInput-highlight-animation 0.3s ease;
}
  
@keyframes util-textInput-highlight-animation {
    from{ 
        background: var(--util-textInput-activeColor);
    }
    to{
        width: 0; 
        background: transparent;
    }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                            Text Input Section End
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
